* {
    box-sizing: border-box;
}


.app-container {
    margin: auto;
    height: 90vh;
    width: 90vw;
    background-color: black;
    border-radius: 80px;



}

.canvas-container {
    border-radius: 30px;
    height: 400px;
    width: 400px;
    background-color: rgb(208, 17, 17);
}


.main-header {
    height: 6vh;
    width: 90vw;
    padding: auto auto;
    margin-inline: auto;
    border-radius: 50px;
    background-color: #8faf1b;
    background-image: linear-gradient(-86deg, #be8933 0%, #df7427 100%);
    box-shadow: inset 0 -6px 0 #1e1e1e;
}

.search {
    margin: auto;
}

.main-header .header-content {
    height: inherit
}

.social-btns-container {
    padding-top: 20px;



}

.btns-container{
    display: flex;
}
.app-container {
    padding-top: 20px;


}

.center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.space-around {
    justify-content: space-around;
}

.column {
    flex-direction: column;
}


.grid-container {
    margin: auto;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    margin-bottom: 1rem;
}

.grid-container a {
    margin: auto;
}

.grid-container img {

    height: 100px;
    width: 100px;
    border-radius: 5px;
    justify-self: center;
    margin: auto;
}



.control-panel {
    height: 400px;
    width: 400px;
    background-color: lightgray;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 1px 2px 26px 1px #ffffff5d;
    background-color: #68686879;
    order: 1;
    align-items: center;
}

.text-box {
    padding: 0.2rem 0.8rem;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
    border-radius: 28px;
    background-color: #ebeef3;
    justify-content: center;
    margin-bottom: 1rem;
}


.edit-btns-container {

    width: 90%;
    padding: 1rem 1rem 0;
    height: auto;
    border-radius: 15px;
    background-color: #db823ebd;
    margin-block-start: 1rem;
    margin-block-end: auto;
}

.hide {
    /* display: none; */
    opacity: 0;
    position: fixed;
    pointer-events: none;
    user-select: none;
}
button{
    margin: 5px;
}
body{
    background-color: black;
}


.btn{
height: 2rem;
width:  2rem;
justify-content: center;
align-content: center;
text-align: center;
justify-items: center;
border: #1e1e1e 1px solid;
padding-top: 6px;

background-color: whitesmoke;
}

.file-input.btn{
width: 80px;


}